---
import Head from '@components/Head.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import { type CommonFrontmatter } from '@/types/common.frontmatter';

type Props = {
	frontmatter: CommonFrontmatter,
}

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
    <Head
        frontmatter={frontmatter}
    >
        <slot name="head" />
    </Head>
    <body>
        <Header />
        <slot name="pre-content" />
        <main>
            <slot />
        </main>
        <slot name="post-content" />
        <Footer />
    </body>
</html>